In [2]:
import pandas as pd

# Load your dataset
df = pd.read_csv('/Users/vaish2205/Desktop/Dissertation/BasicCompanyDataAsOneFile-2025-06-01.csv')

# Function to explore the dataset
def explore_dataset(df):
    print("üìä Basic Dataset Information\n" + "-"*40)
    
    print(f"Shape of dataset: {df.shape[0]} rows, {df.shape[1]} columns\n")
    
    print("üßæ Column Names:")
    print(df.columns.tolist(), "\n")
    
    print("üß¨ Data Types:")
    print(df.dtypes, "\n")
    
    print("üîç First 5 Rows:")
    print(df.head(), "\n")
    
    print("üîö Last 5 Rows:")
    print(df.tail(), "\n")
    
    print("üìâ Summary Statistics:")
    print(df.describe(include='all'), "\n")
    
    print("‚ùì Missing Values:")
    print(df.isnull().sum(), "\n")
    
    print("üß© Duplicate Rows Count:")
    print(df.duplicated().sum(), "\n")
    
    print("üß† Dataset Info:")
    df.info()

# Call the function to explore your loaded dataset
explore_dataset(df)

/var/folders/8w/qkgpp5cx5gbd6v2vcgffvnp80000gn/T/ipykernel_3116/1991565222.py:4: DtypeWarning: Columns (3,41,42,43,44,45,46,47,48,49,50,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/vaish2205/Desktop/Dissertation/BasicCompanyDataAsOneFile-2025-06-01.csv')

üìä Basic Dataset Information
----------------------------------------
Shape of dataset: 5656584 rows, 55 columns

üßæ Column Names:
['CompanyName', ' CompanyNumber', 'RegAddress.CareOf', 'RegAddress.POBox', 'RegAddress.AddressLine1', ' RegAddress.AddressLine2', 'RegAddress.PostTown', 'RegAddress.County', 'RegAddress.Country', 'RegAddress.PostCode', 'CompanyCategory', 'CompanyStatus', 'CountryOfOrigin', 'DissolutionDate', 'IncorporationDate', 'Accounts.AccountRefDay', 'Accounts.AccountRefMonth', 'Accounts.NextDueDate', 'Accounts.LastMadeUpDate', 'Accounts.AccountCategory', 'Returns.NextDueDate', 'Returns.LastMadeUpDate', 'Mortgages.NumMortCharges', 'Mortgages.NumMortOutstanding', 'Mortgages.NumMortPartSatisfied', 'Mortgages.NumMortSatisfied', 'SICCode.SicText_1', 'SICCode.SicText_2', 'SICCode.SicText_3', 'SICCode.SicText_4', 'LimitedPartnerships.NumGenPartners', 'LimitedPartnerships.NumLimPartners', 'URI', 'PreviousName_1.CONDATE', ' PreviousName_1.CompanyName', ' PreviousName_2.CONDATE', ' PreviousName_2.CompanyName', 'PreviousName_3.CONDATE', ' PreviousName_3.CompanyName', 'PreviousName_4.CONDATE', ' PreviousName_4.CompanyName', 'PreviousName_5.CONDATE', ' PreviousName_5.CompanyName', 'PreviousName_6.CONDATE', ' PreviousName_6.CompanyName', 'PreviousName_7.CONDATE', ' PreviousName_7.CompanyName', 'PreviousName_8.CONDATE', ' PreviousName_8.CompanyName', 'PreviousName_9.CONDATE', ' PreviousName_9.CompanyName', 'PreviousName_10.CONDATE', ' PreviousName_10.CompanyName', 'ConfStmtNextDueDate', ' ConfStmtLastMadeUpDate']

üß¨ Data Types:
CompanyName                            object
 CompanyNumber                         object
RegAddress.CareOf                      object
RegAddress.POBox                       object
RegAddress.AddressLine1                object
 RegAddress.AddressLine2               object
RegAddress.PostTown                    object
RegAddress.County                      object
RegAddress.Country                     object
RegAddress.PostCode                    object
CompanyCategory                        object
CompanyStatus                          object
CountryOfOrigin                        object
DissolutionDate                       float64
IncorporationDate                      object
Accounts.AccountRefDay                float64
Accounts.AccountRefMonth              float64
Accounts.NextDueDate                   object
Accounts.LastMadeUpDate                object
Accounts.AccountCategory               object
Returns.NextDueDate                    object
Returns.LastMadeUpDate                 object
Mortgages.NumMortCharges                int64
Mortgages.NumMortOutstanding            int64
Mortgages.NumMortPartSatisfied          int64
Mortgages.NumMortSatisfied              int64
SICCode.SicText_1                      object
SICCode.SicText_2                      object
SICCode.SicText_3                      object
SICCode.SicText_4                      object
LimitedPartnerships.NumGenPartners      int64
LimitedPartnerships.NumLimPartners      int64
URI                                    object
PreviousName_1.CONDATE                 object
 PreviousName_1.CompanyName            object
 PreviousName_2.CONDATE                object
 PreviousName_2.CompanyName            object
PreviousName_3.CONDATE                 object
 PreviousName_3.CompanyName            object
PreviousName_4.CONDATE                 object
 PreviousName_4.CompanyName            object
PreviousName_5.CONDATE                 object
 PreviousName_5.CompanyName            object
PreviousName_6.CONDATE                 object
 PreviousName_6.CompanyName            object
PreviousName_7.CONDATE                 object
 PreviousName_7.CompanyName            object
PreviousName_8.CONDATE                 object
 PreviousName_8.CompanyName            object
PreviousName_9.CONDATE                 object
 PreviousName_9.CompanyName            object
PreviousName_10.CONDATE                object
 PreviousName_10.CompanyName           object
ConfStmtNextDueDate                    object
 ConfStmtLastMadeUpDate                object
dtype: object

üîç First 5 Rows:
                    CompanyName  CompanyNumber RegAddress.CareOf  \
0                         ! LTD       08209948               NaN
1  !BIG IMPACT GRAPHICS LIMITED       11743365               NaN
2   !NFLECTION ADVISORY LIMITED       15073164               NaN
3                 !NFOGENIE LTD       13522064               NaN
4             !NK MEDIA LIMITED       15801429               NaN

  RegAddress.POBox                            RegAddress.AddressLine1  \
0              NaN                                   9 PRINCES SQUARE
1              NaN                                     372 OLD STREET
2              NaN                                         52 MEADWAY
3              NaN                               71-75 SHELTON STREET
4              NaN  85 GREAT PORTLAND STREET, FIRST FLOOR, LONDON ...

   RegAddress.AddressLine2 RegAddress.PostTown RegAddress.County  \
0                      NaN           HARROGATE               NaN
1         335 ROSDEN HOUSE              LONDON               NaN
2                      NaN              BARNET               NaN
3                      NaN              LONDON    GREATER LONDON
4              FIRST FLOOR              LONDON               NaN

  RegAddress.Country RegAddress.PostCode  ... PreviousName_7.CONDATE  \
0            ENGLAND             HG1 1ND  ...                    NaN
1     UNITED KINGDOM            EC1V 9LT  ...                    NaN
2     UNITED KINGDOM             EN5 5LB  ...                    NaN
3     UNITED KINGDOM            WC2H 9JQ  ...                    NaN
4            ENGLAND             W1W 7LT  ...                    NaN

   PreviousName_7.CompanyName PreviousName_8.CONDATE  \
0                         NaN                    NaN
1                         NaN                    NaN
2                         NaN                    NaN
3                         NaN                    NaN
4                         NaN                    NaN

    PreviousName_8.CompanyName PreviousName_9.CONDATE  \
0                          NaN                    NaN
1                          NaN                    NaN
2                          NaN                    NaN
3                          NaN                    NaN
4                          NaN                    NaN

    PreviousName_9.CompanyName  PreviousName_10.CONDATE  \
0                          NaN                      NaN
1                          NaN                      NaN
2                          NaN                      NaN
3                          NaN                      NaN
4                          NaN                      NaN

   PreviousName_10.CompanyName ConfStmtNextDueDate  ConfStmtLastMadeUpDate
0                          NaN          25/09/2025              11/09/2024
1                          NaN          29/12/2025              15/12/2024
2                          NaN          28/08/2025              14/08/2024
3                          NaN          03/08/2025              20/07/2024
4                          NaN          08/07/2025                     NaN

[5 rows x 55 columns]

üîö Last 5 Rows:
                                       CompanyName  CompanyNumber  \
5656579         ‚ÄúQ-STAR TELENERGY HOLDINGS LIMITED       SC655320
5656580            ‚ÄúSAIL IN GREECE ADVENTURES‚Äù LTD       09511422
5656581               ‚ÄúTHE GREENHOUSE‚Äù COMPANY LTD       11457383
5656582  ‚ÄúTIP‚Äù TALENT IDENTIFICATION PROGRAMME LTD       16055519
5656583                        ‚Ç¨ RECYCLING LIMITED       04528854

        RegAddress.CareOf RegAddress.POBox      RegAddress.AddressLine1  \
5656579               NaN              NaN  FLAT 1/2 21 REDSHANK AVENUE
5656580               NaN              NaN          INTERNATIONAL HOUSE
5656581               NaN              NaN             IRONMASTER HOUSE
5656582               NaN              NaN              3 AMESBURY ROAD
5656583               NaN              NaN             CARDINGTON POINT

         RegAddress.AddressLine2 RegAddress.PostTown RegAddress.County  \
5656579                  RENFREW        RENFREWSHIRE               NaN
5656580           36-38 CORNHILL              LONDON            LONDON
5656581                 WYLE COP          SHREWSBURY        SHROPSHIRE
5656582                      NaN              EPPING               NaN
5656583              TELFORD WAY             BEDFORD               NaN

        RegAddress.Country RegAddress.PostCode  ... PreviousName_7.CONDATE  \
5656579           SCOTLAND             PA4 8SG  ...                    NaN
5656580            ENGLAND            EC3V 3NG  ...                    NaN
5656581            ENGLAND             SY1 1XF  ...                    NaN
5656582            ENGLAND            CM16 4HY  ...                    NaN
5656583            ENGLAND            MK42 0PQ  ...                    NaN

         PreviousName_7.CompanyName PreviousName_8.CONDATE  \
5656579                         NaN                    NaN
5656580                         NaN                    NaN
5656581                         NaN                    NaN
5656582                         NaN                    NaN
5656583                         NaN                    NaN

          PreviousName_8.CompanyName PreviousName_9.CONDATE  \
5656579                          NaN                    NaN
5656580                          NaN                    NaN
5656581                          NaN                    NaN
5656582                          NaN                    NaN
5656583                          NaN                    NaN

          PreviousName_9.CompanyName  PreviousName_10.CONDATE  \
5656579                          NaN                      NaN
5656580                          NaN                      NaN
5656581                          NaN                      NaN
5656582                          NaN                      NaN
5656583                          NaN                      NaN

         PreviousName_10.CompanyName ConfStmtNextDueDate  \
5656579                          NaN          02/02/2026
5656580                          NaN          09/04/2026
5656581                          NaN          06/07/2025
5656582                          NaN          14/11/2025
5656583                          NaN          18/06/2025

         ConfStmtLastMadeUpDate
5656579              19/01/2025
5656580              26/03/2025
5656581              22/06/2024
5656582                     NaN
5656583              04/06/2024

[5 rows x 55 columns]

üìâ Summary Statistics:
                                              CompanyName  CompanyNumber  \
count                                             5656584        5656584
unique                                            5652480        5656584
top     DEVON FUEL ASSOCIATES LTD. T/A SERVICETECH SOU...       08209948
freq                                                   10              1
mean                                                  NaN            NaN
std                                                   NaN            NaN
min                                                   NaN            NaN
25%                                                   NaN            NaN
50%                                                   NaN            NaN
75%                                                   NaN            NaN
max                                                   NaN            NaN

       RegAddress.CareOf RegAddress.POBox RegAddress.AddressLine1  \
count              30352            35065                 5596446
unique             16147             2546                 2240745
top                  C/O             4385    71-75 SHELTON STREET
freq                 221            29475                   82127
mean                 NaN              NaN                     NaN
std                  NaN              NaN                     NaN
min                  NaN              NaN                     NaN
25%                  NaN              NaN                     NaN
50%                  NaN              NaN                     NaN
75%                  NaN              NaN                     NaN
max                  NaN              NaN                     NaN

        RegAddress.AddressLine2 RegAddress.PostTown RegAddress.County  \
count                   3385511             5561328           1694028
unique                   332299               45427             15052
top               COVENT GARDEN              LONDON             ESSEX
freq                      71472             1102349            107184
mean                        NaN                 NaN               NaN
std                         NaN                 NaN               NaN
min                         NaN                 NaN               NaN
25%                         NaN                 NaN               NaN
50%                         NaN                 NaN               NaN
75%                         NaN                 NaN               NaN
max                         NaN                 NaN               NaN

       RegAddress.Country RegAddress.PostCode  ... PreviousName_7.CONDATE  \
count             4637104             5567112  ...                    188
unique                204              976004  ...                    186
top               ENGLAND            WC2H 9JQ  ...             22/10/2020
freq              2782808               83315  ...                      2
mean                  NaN                 NaN  ...                    NaN
std                   NaN                 NaN  ...                    NaN
min                   NaN                 NaN  ...                    NaN
25%                   NaN                 NaN  ...                    NaN
50%                   NaN                 NaN  ...                    NaN
75%                   NaN                 NaN  ...                    NaN
max                   NaN                 NaN  ...                    NaN

          PreviousName_7.CompanyName PreviousName_8.CONDATE  \
count                            188                    102
unique                           188                    102
top     STONE HOUSE VENTURES LIMITED             07/10/2013
freq                               1                      1
mean                             NaN                    NaN
std                              NaN                    NaN
min                              NaN                    NaN
25%                              NaN                    NaN
50%                              NaN                    NaN
75%                              NaN                    NaN
max                              NaN                    NaN

         PreviousName_8.CompanyName PreviousName_9.CONDATE  \
count                           102                     61
unique                          101                     61
top           LOVELL ASSOCIATES LTD             26/09/2011
freq                              2                      1
mean                            NaN                    NaN
std                             NaN                    NaN
min                             NaN                    NaN
25%                             NaN                    NaN
50%                             NaN                    NaN
75%                             NaN                    NaN
max                             NaN                    NaN

         PreviousName_9.CompanyName  PreviousName_10.CONDATE  \
count                            61                       38
unique                           61                       38
top                     TM TEAM LTD               09/03/2017
freq                              1                        1
mean                            NaN                      NaN
std                             NaN                      NaN
min                             NaN                      NaN
25%                             NaN                      NaN
50%                             NaN                      NaN
75%                             NaN                      NaN
max                             NaN                      NaN

                              PreviousName_10.CompanyName ConfStmtNextDueDate  \
count                                                  38             5579403
unique                                                 38                3602
top     LIONS BOXING ORGANIZATION (LBO) BOXING POL. SA...          14/04/2026
freq                                                    1               25608
mean                                                  NaN                 NaN
std                                                   NaN                 NaN
min                                                   NaN                 NaN
25%                                                   NaN                 NaN
50%                                                   NaN                 NaN
75%                                                   NaN                 NaN
max                                                   NaN                 NaN

        ConfStmtLastMadeUpDate
count                  4596434
unique                    3255
top                 31/03/2025
freq                     22143
mean                       NaN
std                        NaN
min                        NaN
25%                        NaN
50%                        NaN
75%                        NaN
max                        NaN

[11 rows x 55 columns]

‚ùì Missing Values:
CompanyName                                 0
 CompanyNumber                              0
RegAddress.CareOf                     5626232
RegAddress.POBox                      5621519
RegAddress.AddressLine1                 60138
 RegAddress.AddressLine2              2271073
RegAddress.PostTown                     95256
RegAddress.County                     3962556
RegAddress.Country                    1019480
RegAddress.PostCode                     89472
CompanyCategory                             0
CompanyStatus                               0
CountryOfOrigin                             0
DissolutionDate                       5656584
IncorporationDate                           0
Accounts.AccountRefDay                 155025
Accounts.AccountRefMonth               155025
Accounts.NextDueDate                   172018
Accounts.LastMadeUpDate               1486081
Accounts.AccountCategory                    0
Returns.NextDueDate                    176415
Returns.LastMadeUpDate                3981114
Mortgages.NumMortCharges                    0
Mortgages.NumMortOutstanding                0
Mortgages.NumMortPartSatisfied              0
Mortgages.NumMortSatisfied                  0
SICCode.SicText_1                           0
SICCode.SicText_2                     4608943
SICCode.SicText_3                     5206442
SICCode.SicText_4                     5449485
LimitedPartnerships.NumGenPartners          0
LimitedPartnerships.NumLimPartners          0
URI                                         0
PreviousName_1.CONDATE                5128535
 PreviousName_1.CompanyName           5128535
 PreviousName_2.CONDATE               5566734
 PreviousName_2.CompanyName           5566734
PreviousName_3.CONDATE                5637713
 PreviousName_3.CompanyName           5637713
PreviousName_4.CONDATE                5651953
 PreviousName_4.CompanyName           5651953
PreviousName_5.CONDATE                5655237
 PreviousName_5.CompanyName           5655237
PreviousName_6.CONDATE                5656127
 PreviousName_6.CompanyName           5656127
PreviousName_7.CONDATE                5656396
 PreviousName_7.CompanyName           5656396
PreviousName_8.CONDATE                5656482
 PreviousName_8.CompanyName           5656482
PreviousName_9.CONDATE                5656523
 PreviousName_9.CompanyName           5656523
PreviousName_10.CONDATE               5656546

In [4]:
# Calculate percentage of missing values per column
missing_percent = df.isnull().mean() * 100

# Sort descending and print
missing_percent = missing_percent.sort_values(ascending=False)

print(missing_percent)

DissolutionDate                       100.000000
 PreviousName_10.CompanyName           99.999328
PreviousName_10.CONDATE                99.999328
 PreviousName_9.CompanyName            99.998922
PreviousName_9.CONDATE                 99.998922
 PreviousName_8.CompanyName            99.998197
PreviousName_8.CONDATE                 99.998197
PreviousName_7.CONDATE                 99.996676
 PreviousName_7.CompanyName            99.996676
PreviousName_6.CONDATE                 99.991921
 PreviousName_6.CompanyName            99.991921
 PreviousName_5.CompanyName            99.976187
PreviousName_5.CONDATE                 99.976187
PreviousName_4.CONDATE                 99.918131
 PreviousName_4.CompanyName            99.918131
PreviousName_3.CONDATE                 99.666389
 PreviousName_3.CompanyName            99.666389
RegAddress.CareOf                      99.463422
RegAddress.POBox                       99.380103
 PreviousName_2.CompanyName            98.411586
 PreviousName_2.CONDATE                98.411586
SICCode.SicText_4                      96.338797
SICCode.SicText_3                      92.042158
PreviousName_1.CONDATE                 90.664878
 PreviousName_1.CompanyName            90.664878
SICCode.SicText_2                      81.479264
Returns.LastMadeUpDate                 70.380180
RegAddress.County                      70.052102
 RegAddress.AddressLine2               40.149196
Accounts.LastMadeUpDate                26.271704
 ConfStmtLastMadeUpDate                18.741877
RegAddress.Country                     18.022892
Returns.NextDueDate                     3.118755
Accounts.NextDueDate                    3.041023
Accounts.AccountRefMonth                2.740612
Accounts.AccountRefDay                  2.740612
RegAddress.PostTown                     1.683985
RegAddress.PostCode                     1.581732
ConfStmtNextDueDate                     1.364445
RegAddress.AddressLine1                 1.063150
CompanyCategory                         0.000000
CompanyStatus                           0.000000
CountryOfOrigin                         0.000000
IncorporationDate                       0.000000
LimitedPartnerships.NumLimPartners      0.000000
URI                                     0.000000
Accounts.AccountCategory                0.000000
Mortgages.NumMortCharges                0.000000
Mortgages.NumMortOutstanding            0.000000
Mortgages.NumMortPartSatisfied          0.000000
Mortgages.NumMortSatisfied              0.000000
SICCode.SicText_1                       0.000000
 CompanyNumber                          0.000000
LimitedPartnerships.NumGenPartners      0.000000
CompanyName                             0.000000
dtype: float64

In [6]:
import pandas as pd

# Step 1: Clean column names
df.columns = df.columns.str.strip()

# Step 2: Drop columns with >80% missing values
threshold = 0.8
missing_fraction = df.isnull().mean()
cols_to_drop = missing_fraction[missing_fraction > threshold].index
df_clean = df.drop(columns=cols_to_drop)
print(f"üóëÔ∏è Dropped columns with >{threshold*100}% missing values:\n", list(cols_to_drop))

# Step 3: Drop known unnecessary columns (if still present)
if 'Returns.LastMadeUpDate' in df_clean.columns:
    df_clean.drop(columns=['Returns.LastMadeUpDate'], inplace=True)
    print("üóëÔ∏è Dropped 'Returns.LastMadeUpDate' due to >80% missing values.")

# Step 4: Fill address-related missing values with 'Unknown'
address_cols = [
    'RegAddress.AddressLine2',
    'RegAddress.County',
    'RegAddress.Country',
    'RegAddress.AddressLine1',
    'RegAddress.PostTown',
    'RegAddress.PostCode'
]
for col in address_cols:
    if col in df_clean.columns:
        df_clean[col].fillna('Unknown', inplace=True)

# Step 5: Convert date columns to datetime
date_cols = [
    'Returns.NextDueDate',
    'IncorporationDate',
    'Accounts.LastMadeUpDate',
    'ConfStmtLastMadeUpDate',
    'Accounts.NextDueDate',
    'ConfStmtNextDueDate'
]
for col in date_cols:
    if col in df_clean.columns:
        df_clean[col] = pd.to_datetime(df_clean[col], errors='coerce')

# Step 6: Fill mode for categorical numeric fields
for col in ['Accounts.AccountRefDay', 'Accounts.AccountRefMonth']:
    if col in df_clean.columns:
        mode_val = df_clean[col].mode(dropna=True)
        if not mode_val.empty:
            df_clean[col].fillna(mode_val[0], inplace=True)

# Step 7: Fill numeric missing values with median
numeric_cols = df_clean.select_dtypes(include=['number']).columns
for col in numeric_cols:
    if df_clean[col].isnull().sum() > 0:
        median_val = df_clean[col].median()
        df_clean[col].fillna(median_val, inplace=True)

# Step 8: Fill remaining specific date columns with median date
for col in ['ConfStmtLastMadeUpDate']:
    if col in df_clean.columns:
        median_date = df_clean[col].median()
        df_clean[col].fillna(median_date, inplace=True)

# Step 9: Drop rows with missing values in key business columns
cols_to_check = [
    'Returns.NextDueDate',
    'IncorporationDate',
    'RegAddress.AddressLine2',
    'Accounts.LastMadeUpDate',
    'ConfStmtLastMadeUpDate',
    'Accounts.NextDueDate',
    'ConfStmtNextDueDate'
]
cols_to_check = [col for col in cols_to_check if col in df_clean.columns]
df_clean.dropna(subset=cols_to_check, inplace=True)
print(f"üßπ Dropped rows with missing values in critical columns: {cols_to_check}")

üóëÔ∏è Dropped columns with >80.0% missing values:
 ['RegAddress.CareOf', 'RegAddress.POBox', 'DissolutionDate', 'SICCode.SicText_2', 'SICCode.SicText_3', 'SICCode.SicText_4', 'PreviousName_1.CONDATE', 'PreviousName_1.CompanyName', 'PreviousName_2.CONDATE', 'PreviousName_2.CompanyName', 'PreviousName_3.CONDATE', 'PreviousName_3.CompanyName', 'PreviousName_4.CONDATE', 'PreviousName_4.CompanyName', 'PreviousName_5.CONDATE', 'PreviousName_5.CompanyName', 'PreviousName_6.CONDATE', 'PreviousName_6.CompanyName', 'PreviousName_7.CONDATE', 'PreviousName_7.CompanyName', 'PreviousName_8.CONDATE', 'PreviousName_8.CompanyName', 'PreviousName_9.CONDATE', 'PreviousName_9.CompanyName', 'PreviousName_10.CONDATE', 'PreviousName_10.CompanyName']
üóëÔ∏è Dropped 'Returns.LastMadeUpDate' due to >80% missing values.

/var/folders/8w/qkgpp5cx5gbd6v2vcgffvnp80000gn/T/ipykernel_3116/957987104.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean[col].fillna('Unknown', inplace=True)
/var/folders/8w/qkgpp5cx5gbd6v2vcgffvnp80000gn/T/ipykernel_3116/957987104.py:42: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_clean[col] = pd.to_datetime(df_clean[col], errors='coerce')
/var/folders/8w/qkgpp5cx5gbd6v2vcgffvnp80000gn/T/ipykernel_3116/957987104.py:42: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_clean[col] = pd.to_datetime(df_clean[col], errors='coerce')
/var/folders/8w/qkgpp5cx5gbd6v2vcgffvnp80000gn/T/ipykernel_3116/957987104.py:42: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_clean[col] = pd.to_datetime(df_clean[col], errors='coerce')
/var/folders/8w/qkgpp5cx5gbd6v2vcgffvnp80000gn/T/ipykernel_3116/957987104.py:49: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean[col].fillna(mode_val[0], inplace=True)
/var/folders/8w/qkgpp5cx5gbd6v2vcgffvnp80000gn/T/ipykernel_3116/957987104.py:62: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean[col].fillna(median_date, inplace=True)

üßπ Dropped rows with missing values in critical columns: ['Returns.NextDueDate', 'IncorporationDate', 'RegAddress.AddressLine2', 'Accounts.LastMadeUpDate', 'ConfStmtLastMadeUpDate', 'Accounts.NextDueDate', 'ConfStmtNextDueDate']

In [8]:
# Check if any missing values exist
any_missing = df_clean.isnull().values.any()
print("Are there any missing values left?", any_missing)

# Show detailed missing values per column (only if any exist)
if any_missing:
    missing_percent = df_clean.isnull().mean() * 100
    print("\nMissing values percentage per column:")
    print(missing_percent[missing_percent > 0].sort_values(ascending=False))
else:
    print("‚úÖ All missing values have been handled.")

# Save the cleaned DataFrame to a CSV file
df_clean.to_csv("Cleaned House data.csv", index=False)
print("Cleaned data saved as 'Cleaned House data.csv'")

Are there any missing values left? False
‚úÖ All missing values have been handled.
Cleaned data saved as 'Cleaned House data.csv'

In [10]:
import pandas as pd

# Load the cleaned house data
df = pd.read_csv("Cleaned House data.csv")

# Show dataset shape (rows, columns)
print(f"Dataset shape: {df.shape}\n")

# Show info about columns and data types
print("Data types and non-null counts:")
print(df.info(), "\n")

# Calculate missing values count and percentage per column
missing_count = df.isnull().sum()
missing_percent = (missing_count / len(df)) * 100

missing_data = pd.DataFrame({
    'Missing Count': missing_count,
    'Missing %': missing_percent
})

print("Missing values per column (if any):")
print(missing_data[missing_data['Missing Count'] > 0].sort_values(by='Missing %', ascending=False), "\n")

# Show basic statistics summary for numeric columns
print("Basic statistics summary:")
print(df.describe(), "\n")

# Preview first 5 rows of data
print("First 5 rows of the dataset:")
print(df.head())

Dataset shape: (1265591, 28)

Data types and non-null counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1265591 entries, 0 to 1265590
Data columns (total 28 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   CompanyName                         1265591 non-null  object
 1   CompanyNumber                       1265591 non-null  object
 2   RegAddress.AddressLine1             1265591 non-null  object
 3   RegAddress.AddressLine2             1265591 non-null  object
 4   RegAddress.PostTown                 1265591 non-null  object
 5   RegAddress.County                   1265591 non-null  object
 6   RegAddress.Country                  1265591 non-null  object
 7   RegAddress.PostCode                 1265591 non-null  object
 8   CompanyCategory                     1265591 non-null  object
 9   CompanyStatus                       1265591 non-null  object
 10  CountryOfOrigin                     1265591 non-null  object
 11  IncorporationDate                   1265591 non-null  object
 12  Accounts.AccountRefDay              1265591 non-null  float64
 13  Accounts.AccountRefMonth            1265591 non-null  float64
 14  Accounts.NextDueDate                1265591 non-null  object
 15  Accounts.LastMadeUpDate             1265591 non-null  object
 16  Accounts.AccountCategory            1265591 non-null  object
 17  Returns.NextDueDate                 1265591 non-null  object
 18  Mortgages.NumMortCharges            1265591 non-null  int64
 19  Mortgages.NumMortOutstanding        1265591 non-null  int64
 20  Mortgages.NumMortPartSatisfied      1265591 non-null  int64
 21  Mortgages.NumMortSatisfied          1265591 non-null  int64
 22  SICCode.SicText_1                   1265591 non-null  object
 23  LimitedPartnerships.NumGenPartners  1265591 non-null  int64
 24  LimitedPartnerships.NumLimPartners  1265591 non-null  int64
 25  URI                                 1265591 non-null  object
 26  ConfStmtNextDueDate                 1265591 non-null  object
 27  ConfStmtLastMadeUpDate              1265591 non-null  object
dtypes: float64(2), int64(6), object(20)
memory usage: 270.4+ MB
None

Missing values per column (if any):
Empty DataFrame
Columns: [Missing Count, Missing %]
Index: []

Basic statistics summary:
       Accounts.AccountRefDay  Accounts.AccountRefMonth  \
count            1.265591e+06              1.265591e+06
mean             3.006541e+01              6.287594e+00
std              3.110647e+00              3.578632e+00
min              1.000000e+00              1.000000e+00
25%              3.000000e+01              3.000000e+00
50%              3.100000e+01              6.000000e+00
75%              3.100000e+01              9.000000e+00
max              3.100000e+01              1.200000e+01

       Mortgages.NumMortCharges  Mortgages.NumMortOutstanding  \
count              1.265591e+06                  1.265591e+06
mean               6.248101e-01                  3.639414e-01
std                9.747220e+00                  7.395528e+00
min                0.000000e+00                  0.000000e+00
25%                0.000000e+00                  0.000000e+00
50%                0.000000e+00                  0.000000e+00
75%                0.000000e+00                  0.000000e+00
max                6.121000e+03                  6.121000e+03

       Mortgages.NumMortPartSatisfied  Mortgages.NumMortSatisfied  \
count                    1.265591e+06                1.265591e+06
mean                     3.405524e-04                2.602247e-01
std                      2.809340e-02                5.969534e+00
min                      0.000000e+00                0.000000e+00
25%                      0.000000e+00                0.000000e+00
50%                      0.000000e+00                0.000000e+00
75%                      0.000000e+00                0.000000e+00
max                      1.800000e+01                5.720000e+03

       LimitedPartnerships.NumGenPartners  LimitedPartnerships.NumLimPartners
count                           1265591.0                           1265591.0
mean                                  0.0                                 0.0
std                                   0.0                                 0.0
min                                   0.0                                 0.0
25%                                   0.0                                 0.0
50%                                   0.0                                 0.0
75%                                   0.0                                 0.0
max                                   0.0                                 0.0

First 5 rows of the dataset:
                          CompanyName CompanyNumber RegAddress.AddressLine1  \
0                               ! LTD      08209948        9 PRINCES SQUARE
1                      !NNOV8 LIMITED      11006939           OLD BARN FARM
2                        !NSPIRED LTD      SC421617         26 POLMUIR ROAD
3                  !YOZO FASS LIMITED      02714021        1 VERONICA HOUSE
4  "1ST RATE" PSYCHOLOGY SERVICES LTD      11303802      116 ALEXANDRA ROAD

  RegAddress.AddressLine2 RegAddress.PostTown RegAddress.County  \
0                 Unknown           HARROGATE           Unknown
1          HARTFIELD ROAD          EDENBRIDGE           Unknown
2                 Unknown            ABERDEEN           Unknown
3            WICKHAM ROAD            BROCKLEY           Unknown
4                 Unknown      GREAT WAKERING             ESSEX

  RegAddress.Country RegAddress.PostCode          CompanyCategory  \
0            ENGLAND             HG1 1ND  Private Limited Company
1            ENGLAND             TN8 5NF  Private Limited Company
2     UNITED KINGDOM            AB11 7SY  Private Limited Company
3            Unknown             SE4 1NQ  Private Limited Company
4     UNITED KINGDOM             SS3 0GW  Private Limited Company

  CompanyStatus  ... Mortgages.NumMortCharges Mortgages.NumMortOutstanding  \
0        Active  ...                        0                            0
1        Active  ...                        0                            0
2   Liquidation  ...                        0                            0
3        Active  ...                        0                            0
4        Active  ...                        0                            0

   Mortgages.NumMortPartSatisfied  Mortgages.NumMortSatisfied  \
0                               0                           0
1                               0                           0
2                               0                           0
3                               0                           0
4                               0                           0

                                   SICCode.SicText_1  \
0                            99999 - Dormant Company
1  62090 - Other information technology service a...
2  70229 - Management consultancy activities othe...
3                            90010 - Performing arts
4               85600 - Educational support services

  LimitedPartnerships.NumGenPartners LimitedPartnerships.NumLimPartners  \
0                                  0                                  0
1                                  0                                  0
2                                  0                                  0
3                                  0                                  0
4                                  0                                  0

                                               URI  ConfStmtNextDueDate  \
0  http://business.data.gov.uk/id/company/08209948           2025-09-25
1  http://business.data.gov.uk/id/company/11006939           2025-10-24
2  http://business.data.gov.uk/id/company/SC421617           2022-04-25
3  http://business.data.gov.uk/id/company/02714021           2026-01-13
4  http://business.data.gov.uk/id/company/11303802           2026-04-24

   ConfStmtLastMadeUpDate
0              2024-11-09
1              2024-10-10
2              2021-11-04
3              2024-10-10
4              2025-10-04

[5 rows x 28 columns]